<% include ./../header.ejs %>
<div id="mainDiv" class="row-fluid">
  <div class="span12">
	  <form name="campaignAnalysisForm" ng-app="campaignApp" ng-controller="campaignCtrl" class="form-horizontal" role="form" novalidate>
		  <legend>Campaign Analysis</legend>
		  
		  <div class="col-md-4 ">
			  <div class="form-group">
			    <label class="control-label col-md-6">Start Date</label>
			    <div class="col-md-6">
			    <input type="text" placeholder="yyyy-MM-dd" name="startDate" ng-model="reportRequest.startDate" ng-pattern="/^([1-2]\d{3})-([0-1]\d)-([0-3]\d)$/" required>
			    </div>
			  </div>
			  
			  <div class="form-group">
			    <label class="control-label col-md-6">End Date</label>
			    <div class="col-md-6">
			    <input type="text" placeholder="yyyy-MM-dd"  name="endDate" ng-model="reportRequest.endDate" ng-pattern="/^([1-2]\d{3})-([0-1]\d)-([0-3]\d)$/" required>
			    </div>
			  </div>
			  
			  <div class="form-group">
			  <!--Multiple IDs can be seperated by comma, for example '100,101,102'-->
			    <label class="control-label col-md-6">Campaign IDs</label>
			    <div class="col-md-6">
			      <input type="text"  placeholder="Seperate IDs by ," name="campaignIds" ng-model="reportRequest.campaignIds" ng-pattern="/^\d+($|((\,\d+)+)$)/">
			    </div>
			  </div>
			  <div class="form-group">
			    <label class="control-label col-md-6">Publisher IDs</label>
			    <div class="col-md-6">
			      <input type="text" placeholder="Seperate IDs by ,"  name="publisherIds" ng-model="reportRequest.publisherIds" ng-pattern="/^\d+($|((\,\d+)+)$)/">
			    </div>
			  </div>
		  </div>
		  
	      <div class="col-md-3">
		      <div class="form-group">
			    <label class="control-label col-md-6">Group By</label>
			    <div class="col-md-6">
				   <div class="checkbox">
				      <label> <input type="checkbox" name="groupBy" ng-model="reportRequest.groupBy.adgroup" ng-required="validateGroupby()"> Adgroup </label>
				   </div>
				   <div class="checkbox">
				      <label> <input type="checkbox" ng-model="reportRequest.groupBy.app"> App </label>
				   </div>
				   <div class="checkbox">
				      <label> <input type="checkbox" ng-model="reportRequest.groupBy.campaign"> Campaign </label>
				   </div>
				   <div class="checkbox">
				      <label> <input type="checkbox" ng-model="reportRequest.groupBy.city"> City </label>
				   </div>
				   <div class="checkbox">
				      <label> <input type="checkbox" ng-model="reportRequest.groupBy.creative"> Creative </label>
				   </div>
				   <div class="checkbox">
				      <label> <input type="checkbox" ng-model="reportRequest.groupBy.creativeSize"> Creative Size </label>
				   </div>
				   <div class="checkbox">
				      <label> <input type="checkbox" ng-model="reportRequest.groupBy.day"> Day </label>
				   </div>
				   <div class="checkbox">
				      <label> <input type="checkbox" ng-model="reportRequest.groupBy.hour"> Hour </label>
				   </div>
				   <div class="checkbox">
				      <label> <input type="checkbox" ng-model="reportRequest.groupBy.iabCategory"> IAB Category </label>
				   </div>
				   <div class="checkbox">
				      <label> <input type="checkbox" ng-model="reportRequest.groupBy.poi"> POI </label>
				   </div>
				   <div class="checkbox">
				      <label> <input type="checkbox" ng-model="reportRequest.groupBy.publisher"> Publisher </label>
				   </div>
			    </div>  
		      </div>
		  </div>
		  <div class="col-md-5">
			  <div class="form-group">
			    <div  class="col-md-offset-1 col-md-11">
			      <button type="submit" class="btn btn-primary" ng-click="generateReport()">Download Report</button>
			    </div>
			  </div>
			  <div class="form-group">
			    <div ng-show="campaignAnalysisForm.submitted" class="col-md-offset-1 col-md-11">
			      <p class="text-danger" ng-show="campaignAnalysisForm.startDate.$error.required">Start Date is required</p>
			      <p class="text-danger" ng-show="campaignAnalysisForm.startDate.$error.pattern">Start Date format must be yyyy-MM-dd</p>

			      <p class="text-danger" ng-show="campaignAnalysisForm.endDate.$error.required">End Date is required</p>
			      <p class="text-danger" ng-show="campaignAnalysisForm.endDate.$error.pattern">End Date format must be yyyy-MM-dd</p>

			      <p class="text-danger" ng-show="campaignAnalysisForm.campaignIds.$error.pattern">Campaign IDs must be numbers seperated by comma</p>
			      <p class="text-danger" ng-show="campaignAnalysisForm.publisherIds.$error.pattern">Publisher IDs must be numbers seperated by comma</p>

			      
			      <p class="text-danger" ng-show="campaignAnalysisForm.groupBy.$error.required">One groupBy option is required at least </p>
			    </div>
			  </div>
			  
		  </div>
	  </form>
  </div>
</div>

<script>
var app = angular.module('campaignApp', []);
app.controller('campaignCtrl', function($scope,$http) {

	 $scope.validateGroupby=function() {
    	var groupBy=null;
    	if ($scope.reportRequest) {
    		groupBy = $scope.reportRequest.groupBy;
    	}
        if (!groupBy) {
        	return true; 
        }
        return  !groupBy.adgroup && !groupBy.app && !groupBy.campaign
    			&& !groupBy.city && !groupBy.creative && !groupBy.creativeSize && !groupBy.day
    			&& !groupBy.hour && !groupBy.iabCategory && !groupBy.poi
    			&& !groupBy.publisher;
	};
	
    $scope.generateReport = function() {    
    	if (!$scope.campaignAnalysisForm.$valid) {
            $scope.campaignAnalysisForm.submitted = true;
    		return;
    	}
    	$("#mainDiv").hide();
    	$("#loadingDiv").show();
    	
	    $http({
	        url: '/reports/campaignAnalysis',
	        method: 'POST',
	        responseType: 'arraybuffer',
	        data: $scope.reportRequest, //this is your json data string
	        headers: {
	            'Content-type': 'application/json',
	            'Accept': 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'
	        }
	    }).success(function(data){
	    	$("#mainDiv").show();
	    	$("#loadingDiv").hide();
	        var blob = new Blob([data], {
	            type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'
	        });
	        saveAs(blob, 'campaign_analysis_report' + '.xlsx');
	    }).error(function(){
	      	$("#mainDiv").show();
	    	$("#loadingDiv").hide();
	        //Some error log
	       alert('Failed to get the report data!')
	    });


    };
});
</script>


<% include ./../footer.ejs %>