
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <script src="http://cdn.bootcss.com/angular.js/1.5.6/angular.min.js"></script>
    <script src="/javascripts/FileSaver/FileSaver.js"></script>
    
    <link rel='stylesheet' href="/stylesheets/style.css" />
  </head>
 <body>
